.a{
    text-align: center;
  }
  
  .btn-h{
    border: 1px solid #00401A;
    background: none;
    padding: 10px 20px;
    font-size: 19px;
    font-family: "raleway";
    cursor: pointer;
    margin: 10px;
    transition: 1s;
    position: relative;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
  }
  .btn1,.btn2{
    color: #00401A;
  }
  .btn3 a,.btn4{
  
    color: white;
    font-family: raleway;
  
  }
  .btn1 a:hover,.btn2:hover{
    color: #fff;
  }
  .btn3 a:hover,.btn4:hover{
    color: #00401A;
  }
  .btn-h::before{
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 0%;
    background: #00401A;
    z-index: -1;
    transition: 0.8s;
  }
  .btn1::before,.btn3::before{
    top: 0;
    border-radius: 0 0 50% 50%;
  }
  .btn2::before,.btn4::before{
    bottom: 0;
    border-radius: 50% 50% 0 0;
  }
  .btn3::before,.btn4::before{
    height: 180%;
  }
  .btn1:hover::before,.btn2:hover::before{
    height: 180%;
  }
  .btn3:hover::before,.btn4:hover::before{
    height: 0%;
  }