/* ===================== */
/* COMMOM CSS */
body{
    background: #f1f1f1;
    font-family: sans-serif,arial,Helvetica;
}
.font{
  font-family: Geometos;
}
a,
a:hover,
a:focus{
    text-decoration: none;
    outline: none;
}
.btn:focus,
button:focus{
    outline: none;
}

ul{
    margin:0;
    padding:0;
    list-style:none;
}

h2.page-heading{
  margin: 5px 0 30px;
  padding: 0 5px 10px;
  border-bottom: 2px solid #333;
}


/* ===================== */

/* ===================== */
/* ADMIN Panel CSS START */
/* ===================== */

#wrapper-admin{
    padding: 0px;
}

img.logo{
    width: 50%;
    height: auto;
    display: block;
}

#header-admin{
    background-color:#686868;
    padding: 15px 0;
}

#header-admin .admin-logout{
    margin: 10px 0;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}

#header-admin .admin-logout:hover{
    text-decoration: underline;
}

#admin-menubar{
    background-color: #fff;
}
#admin-menubar .admin-menu{
    font-size: 0;
}
#admin-menubar .admin-menu li{
    display: inline-block;
    margin: 0 5px 0 0;
}
#admin-menubar .admin-menu li a{
    color: 	#686868;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding: 7px 15px;
    display: block;
    transition: all 0.3s;
}

#admin-menubar .admin-menu li a:hover{
    color: #fff;
    background-color: 	#686868;
}

#admin-content{
    padding: 20px 0;
    min-height: 750px;
}

#admin-content .admin-heading{
    font-size: 35px;
    margin: 0 0 15px;
}

#admin-content .add-new{
    color: #fff;
    background-color: #686868;
    font-size: 15px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding: 7px 10px;
    /* margin: 0 0 20px; */
    display: block;
    transition: all 0.3s;
}
#admin-content .add-new:hover{
    text-shadow: 0 0 3px #000;
    box-shadow: 3px 3px 0 rgba(0,0,0,0.2);
}

#admin-content .content-table{
    border: 1px solid #000;
    width: 100%;
    margin: 0 0 20px;
}

#admin-content .content-table thead{
    color: #fff;
    background-color: #989898;
}

#admin-content .content-table th{
    padding: 10px;
    border: 1px solid #fff;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

#admin-content .content-table tbody{
    color: #333;
}

#admin-content .content-table tbody tr{
    background-color: #e7e7e7;
}
#admin-content .content-table tbody tr:nth-child(even){
    background-color: transparent;
}
#admin-content .content-table tbody td{
    padding: 10px;
    border: 1px solid #fff;
    text-align: center;

}

#admin-content .content-table tbody td:nth-child(2){
    text-align: left;
}

#admin-content .admin-pagination{
    margin: 0;
}
#admin-content .admin-pagination li a{
    display: block;
}

.id,
.edit,
.delete{
    text-align:center;
}

form{
    background: #fff;
    padding: 25px;
    box-shadow:0 1px 3px rgba(0, 0, 0, 0.13);
}

/* ===================== */
/* ADMIN Panel CSS END */
/* ===================== */


/* Pagination  Styling */
.pagination {
    display: block;
    text-align: center;
    margin: 0;
}

.pagination li {
    display:inline-block;
    margin: 0 5px 0 0;
}

.pagination li a{
    border: none;
    background: #989898;
    color: #fff;
}

.pagination li a:hover,
.pagination > li > a:focus{
    color:#fff;
    background 	:#989898;
}

.page_links {
    background-color: #ccc;
    font-family: arial, verdana;
    font-size: 12px;
    text-decoration: none;
    border:1px solid #000;
    padding: 6px;
    margin: 3px;
}

#page_a_link{
    font-size: 12px;
    border:1px #000000 solid;
    color:#000;
    background-color: #cccccc;
    padding: 6px;
    margin: 3px;
    text-decoration: none;
}

i.fa{
    color:#222;
}



/* Footer Styling */
#footer{
    color: #fff;
    padding:15px 0;
    text-align:center;
    background-color: #686868;
}

#footer  a{
    color:#fff;
}

#footer  span  a:hover{
    text-decoration: underline;
}




/* ===================== */
/* FrontEnd CSS END */
/* ===================== */
