{% extends "layout.html" %}
{% block body %}

<body>
  <section id="contact">
     <div class="container">

         <div class="row">
           <div class="col-sm-12 col-md-6 col-lg-4 my-5">
             <div class="card border-0">
                <div class="card-body text-center">
                  <i class="fa fa-phone fa-5x mb-3" aria-hidden="true"></i>
                  <h4 class="text-uppercase mb-5 font">call us</h4>
                  <p> +92 331 5323362 <br> +92 336 0989904</p>
                </div>
              </div>
           </div>
           <div class="col-sm-12 col-md-6 col-lg-4 my-5">
             <div class="card border-0">
                <div class="card-body text-center">
                  <i class="fa fa-map-marker fa-5x mb-3" aria-hidden="true"></i>
                  <h4 class="text-uppercase mb-5  font">office loaction</h4>
                 <address>Lab 2, Department of Computer Systems Engineering, UETP. </address>
                </div>
              </div>
           </div>

           <div class="col-sm-12 col-md-6 col-lg-4 my-5">
             <div class="card border-0">
                <div class="card-body text-center">
                  <i class="fa fa-globe fa-5x mb-3" aria-hidden="true"></i>
                  <h4 class="text-uppercase mb-5 font">email</h4>
                  <p>pakcitizen@gmail.com</p>
                </div>
              </div>
           </div>
         </div>
     </div>
  </section>

  <!-- End Contact Form -->





	<!--- Connect -->
	<div class="container-fluid padding">
		<div class="row text-center padding">
			<div class="col-12">
				<h3 class="font">Connect</h3>
                <p> Contact us on any of the mentioned details for promotions and advertisements, Thank you.</p>
			</div>

			<div class="col-12 social padding">
				<a href="#"><i id="social-fb" class="fab fa-facebook-square fa-3x social"></i></a>
				<a href="#"><i id="social-tw" class="fab fa-twitter-square fa-3x social"></i></a>
				<a href="@"><i id="social-gp" class="fab fa-google-plus-square fa-3x social"></i></a>
				<a href="#"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
			</div>
		</div>
	</div>
	</div>

  {% endblock %}
